<footer class="footer">
    <span class="footer_item"> </span>
    &nbsp;

    <div class="footer_social-icons">
        {{- partial "socialIcons.html" site.Params.socialIcons -}}
    </div>
    <small class="footer_copyright">
        © {{ now.Format "2006" }} {{ .Site.Params.author.name }}.
        {{ T "footer.disclaimer" | safeHTML }}
    </small>
</footer>

{{- if .Site.Params.goToTop -}}
<a href="#" title="{{ T "footer.go_to_top" }}" id="totop">
    {{ partial "svgs/arrowUp.svg" (dict "height" 48 "width" 48) . }}
</a>
{{- end -}}
<style>
    .emojify {
        font-family: Apple Color Emoji, Segoe UI Emoji, NotoColorEmoji, Segoe UI Symbol, Android Emoji, EmojiSymbols;
        font-size: 2rem;
        vertical-align: middle;
    }
    @media screen and (max-width:650px) {
      .nowrap {
        display: block;
        margin: 25px 0;
      }
    }
</style>