<!DOCTYPE html>
{{- $defaultColor := .Site.Params.defaultColor | default "auto" -}}

{{/* allow website developer to enforce default dark mode */}}
{{- if eq $defaultColor "dark" -}}
<html lang="{{ .Site.LanguageCode }}" class="dark">
{{- else if eq $defaultColor "light" -}}
<html lang="{{ .Site.LanguageCode }}" class="light">
{{- else -}}
<html lang="{{ .Site.LanguageCode }}">
{{- end -}}

{{- partial "head.html" . -}}

<body data-theme="{{ $defaultColor }}" class="notransition">
    {{- partial "scriptsBodyStart.html" . -}}
    {{- partial "header.html" . -}}
    <div class="wrapper">
        {{ partial "bio" . }}
        <main aria-label="Content">
            {{/* Loop through each category under posts */}}
            {{ $postsSection := .Site.GetPage "section" "posts" }}
            {{ range $postsSection.Sections }}
                {{ $categoryPosts := .RegularPages.ByDate.Reverse }}
                {{ if gt (len $categoryPosts) 0 }}
                <section class="category-section">
                    <h3 class="posts-item-note">
                        <a href="{{ .Permalink }}" style="text-decoration: none; color: inherit;">{{ .Title }}</a>
                    </h3>
                    {{ range first 3 $categoryPosts }}
                    {{ partial "postCard" . }}
                    {{ end }}
                    {{ if gt (len $categoryPosts) 3 }}
                    <p>
                        <a href="{{ .Permalink }}">See all {{ .Title }} posts →</a>
                    </p>
                    {{ end }}
                </section>
                {{ end }}
            {{ end }}
            <br/>
            <iframe style="background-color: white;" align="top" frameborder="0" height="230" width="640" scrolling="no" src="https://ky4qx.com/pota_summary/k5cv"></iframe>
            <br/><br/>
            <iframe style="background-color: white;" align="top" frameborder="0" height="500" scrolling="yes" src="https://logbook.qrz.com/lbstat/K5CV/" width="640"></iframe>
        </main>
    </div>
    {{- partial "footer.html" . -}}
    {{- partial "scriptsBodyEnd.html" . -}}
</body>

</html>
